.progress-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 50% 40%;

}

.play {
  grid-column-start: 1;
}

.progress {
  grid-column-start: 2;
}
.goal {
  grid-column-start: 3;
}
