
.example-sidenav-content {
  display: flex;
  height: 75%;
  align-items: end;
  justify-content: center;
}

.chat {
  height: 100%;
  display: grid;
  grid-template-rows: 95% auto;
  background: white;
}

.sidenav {
  width: 21%;
}

.mock-container {
  border-top: 1px solid lightgray;
}
